/* SongRow.css */
.songRow {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.songRow__album {
  height: 60px;
  width: 60px;
}
.songRow__info {
  margin-left: 20px;
}
.songRow__info h1 {
  font-size: 16px;
}
.songRow__info p {
  color: #b3b3b3;
}
